@mixin border-end-radius($radius: $border-radius) {
    @if $enable-rounded {
      border-top-right-radius: valid-radius($radius);
      border-bottom-right-radius: valid-radius($radius);
    }
  }

@mixin border-start-radius($radius: $border-radius) {
    @if $enable-rounded {
      border-top-left-radius: valid-radius($radius);
      border-bottom-left-radius: valid-radius($radius);
    }
  }