@import url('/node_modules/bootstrap/dist/css/bootstrap.css');

body {
  font-family: serif;
}

a {
  text-decoration: none;
}

input {
  box-shadow: none !important;
}

ul{
  border-radius: 0 !important;
  li{
    margin-left: 1rem;
  }
}

.ff-sans {
  font-family: sans-serif;
}

.my_fs-10 {
  font-size: 10px;
}

.my_fs-12 {
  font-size: 12px;
}

.my_btn-white {
  border-radius: 25px;
  color: black;
  padding: 16px 30px;
  font-size: 10px;
  background-color: white;
  border-radius: 25px;
  border: 0;
  font-family: sans-serif;

  &:hover {
    transform: scale(1.1);
  }
}

.my_btn-green {
  border-radius: 25px;
  color: white;
  padding: 16px 30px;
  font-size: 10px;
  background-color: #3d6f43;
  border-radius: 25px;
  border: 0;
  font-family: sans-serif;

  &:hover {
    transform: scale(1.1);
  }
}

.my_bg-green {
  background-color: #3d6f43;
}

.my_text-green {
  color: #3d6f43;
}

.my_bg-darkgreen {
  background-color: #114b5f;
}

.my_bg-dark {
  background-color: black;
}

.my_bg-paw {
  background-image: url("/img/bg-transparent-3.png");
  background-color: #114b5f;
}

.my_grey {
  color: #bcc2bd
}

.my_mt-100 {
  margin-top: 100px;
}

.my_pt-100 {
  padding-top: 100px;
}

.my_mb-100 {
  margin-bottom: 100px;
}

.my_pb-100 {
  padding-bottom: 100px;
}